<div class='subnav'>
  <ul class='nav nav-pills'>
    <li>
    <a href='/admin/robots/index'>
      <i class='icon-book'></i>
      History
    </a>
    </li>
    <li>
    <li>
    <a href='/admin/robots/learn'>
      <i class='icon-plus-sign'></i>
      Learn
    </a>
    </li>
    <li>
    <a href='/admin/robots/refresh' data-confirm='are you sure?'>
      <i class='icon-refresh'></i>
      Refresh
    </a>
    </li>
    <li>
    <a href='/admin/robots/redis'>
      <i class='icon-inbox'></i>
      redis
    </a>
    </li>

    <li>
    <a href='/exception_logger/logged_exceptions'>
      <i class='icon-eye-open'></i>
      exceptions
    </a>
    </li>

    <li>
    <a href='/admin/robots/logs'>
      <i class='icon-inbox'></i>
      logs
    </a>
  </ul>
</div>
