<div class='span3'>
  <div class='well sidebar-nav'>
    <%= $user_count %> users now.
    <ul class='nav nav-list'>
      <li class='nav-header'>SETTING</li>
      <li>
      <a href='/admin/robots/index'>
        <i class='icon-book'></i>
        History
      </a>
      </li>
      <li>
      <li>
      <a href='/admin/robots/learn'>
        <i class='icon-plus-sign'></i>
        Learn
      </a>
      </li>
      <li>
      <a href='/admin/robots/refresh' data-confirm='are you sure?'>
        <i class='icon-refresh'></i>
        Refresh
      </a>
      </li>
      <li>
      <a href='/exception_logger/logged_exceptions'>
        <i class='icon-eye-open'></i>
        exceptions
      </a>
      </li>

      <!--
      -<li>
      -<a href='/admin/robots/clear_cache' date-confirm='are you sure?'>
        -  <i class='icon-trash'></i>
        -  Clear Cache
        -</a>
      -</li>
      -->
    </ul>
  </div>
</div>
