<div class='row-fluid'>
  <div class='span3'>
    <div class='well sidebar-nav'>
      <ul class='nav nav-list'>
        <li class='nav-header'>SETTING</li>
        <li>
        <a href='/admin/robots/index'>
          <i class='icon-book'></i>
          History
        </a>
        </li>
        <li>
        <a href='/admin/robots/learn'>
          <i class='icon-plus-sign'></i>
          Learn
        </a>
        </li>
      </ul>
    </div>
  </div>

