<div class='container-fluid'>
  <div class='row-fluid'>
    <%= render 'nav_list' %>
    <div class='span9'>
      <%= render 'learn_words' %>
      <%= render 'learn_aiml' %>
    </div>
  </div>
</div>
