var html = " <p class='time'><span style=''>robot</span>&nbsp;&nbsp;&nbsp;<%= Time.zone.now.strftime('%Y-%m-%d %H:%M:%S') %><p class='words'>&nbsp;&nbsp;<%if @reply !~ /^Do you mean/%><%= escape_javascript(@reply[0..300].html_safe) %><span style='display:none'><%= escape_javascript(@reply[301..-1].html_safe) if @reply.length>300 %></span>&nbsp;&nbsp;<% if @reply.length>300%><a class='modal-link' style='cursor:pointer;' onClick=modal_up(this);>more...</a><%end%><% else %><%= escape_javascript(@reply.html_safe)%><%end%></p>";
$('#chat-box').append(html);
$('#chat-box')[0].scrollTop = 100000;
$('#receive').attr('value','');
$('#receive').removeAttr('readonly'); 
  function modal_up(obj){
    var body = $(obj).parent().html();
    re = /\<a.*\<\/a\>/;
    var body = body.replace(re,'');
    var title = $(obj).parent().prev().prev().text();
    $('#Modal h3').text(title);
    $('.modal-body').html("&nbsp;&nbsp;"+body);
    $('#Modal').modal('show');
    $('.modal-body').find('span').show();
  }



