<style>
  .time{
    font-size: 16px;
    color: #0088cc;
  }
  p{
    font-size: 13px;
  }
</style>
<div class='container' style='margin-left:20px;'>
  <div class='input-xlarge' id='chat-box' name='chat-box'  cols='80' rows='30' style='width:500px; height:460px; padding:20px;border:1px solid #ccc;border-radius:3px;bakcground-image:url("/assets/grid-18px-masked.png");overflow:auto;'>
    <p class='time'><span style=''>robot&nbsp;&nbsp;</span><%= Time.zone.now.strftime('%Y-%m-%d %H:%M:%S') %></p>
    <p class='words'>&nbsp;&nbsp;hi,there. ^_^</p>
  </div>
  <br/>
  <div class='input-prepend'>
    <span class='add-on' style='height:25px;line-height:27px;width:25px;'>
      <i class='icon-comment'></i>
    </span>
    <input type='text' id='receive' name='receive' class='input-xlarge' style='width:495px;height:25px;margin-left:-3px;'>
    <span class='help-inline' style='color:#b94a48;'>*Talk to me or ask me, example:&nbsp;what is linux ?</span>
  </div>
  <br/>
  <br/>
  <div class="modal hide" id="Modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
  </div>
</div>

